<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="Microsoft.ApplicationInsights.NLogTarget"/>
  </extensions>
  <targets>
    <target name="logfile" xsi:type="File" layout="${longdate} ${logger} ${message}" fileName="${basedir}/logs/RequestResponse/${shortdate}.log" />
    <target name="file" xsi:type="File" layout="${longdate} ${logger} ${message}" fileName="${basedir}/logs/Error/${shortdate}.log" />
  </targets>
  <rules>
    <logger name="*" level="Info" writeTo="logfile" />
    <logger name="*" minlevel="Error" writeTo="file" />
  </rules>
</nlog>